html {
    background-color: rgb(218, 196, 163);
}

#wrapper {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
   
}
#flex-group{
    flex-direction: column;
}
#button {
    width: 100%;
}

#conceptsCovered {
    width: auto;
}

.entryLog {
    margin-left: 36%
}

